{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}Password Reset{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <form method="post">
                {% csrf_token %}
                <h3 class="text-center">Password Reset Form</h3>
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3 w-100">Send</button>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mt-2">
                        <a class="text-decoration-none" href="{% url "login" %}">Login</a> 
                        <span>
                            Or
                        </span>
                        <a class="text-decoration-none" href="{% url "signup" %}">SignUp</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}