{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}حذف کتاب {{ book.title }}{% endblock page_title %}

{% block content %}
    <form class='mt-3' action='' method='POST'>
        {% csrf_token %}
        <h1>حذف کتاب {{ book.title }}</h1>
        <p>آیا از حذف کردن کتاب  {{ book.title }} مطمئن هستید؟</p>
        <input type='submit' class='btn btn-danger' value='بله مطمئنم.' />
    </form>
    <a href='{% url "book_list" %}'>لیست همه کتاب ها</a>
{% endblock content %}