{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %} {% trans "Book Detail" %} {{ book.title }}{% endblock page_title %}

{% block content %}
    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div>
                                {% if book.cover %}
                                    <img src="{{ book.cover.url }}"
                                            class="img-fluid rounded-start shadow" alt="...">
                                {% else %}
                                    <img alt='ImageBook' src='' />
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h1>{{ book.title }}</h1>
                            <h5 class="small my-1"><span class="text-muted">{% trans "Author" %}: </span>{{ book.author }}</h5>
                            <h5 class="small my-1"><span class="text-muted"> {% trans "Created By:" %} </span>{{ book.user.username }}</h5>
                            {% if book.user == user %}
                                <a href='{% url "book_update" book.id %}'>{% trans "Update" %}</a>
                                <span> {% trans "Or" %} </span>
                                <a href='{% url "book_delete" book.id %}'>{% trans "Delete" %}</a>
                            {% endif %}
                            {% comment %} <h5 class="small my-1"><span class="text-muted">مترجم: </span>الهام خرسندی</h5>
                            <h5 class="small my-1"><span class="text-muted">انتشارات: </span>هوزمزد</h5> {% endcomment %}
                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                {{ book.price }} {% trans "Dollar" %}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">{{ book.description|linebreaks }}</div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">{% trans "Comments" %}:</h2>
                        {% for comment in comments %}
                            {% if comment.is_active %}
                                <div class="border-bottom mb-3">
                                    <h5 class="mb-3">{{comment.user.username}}</h5>
                                    {% if comment.recommend %}
                                        <p>{% trans "I recommend this book." %}</p>
                                    {% else %}
                                        <p>{% trans "I do not recommend this book." %}<p/>
                                    {% endif %}
                                    <p>{{ comment.text|linebreaks }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h3>{% trans "Enter your comment:" %}</h3>
                        <form method="POST">
                            {% csrf_token %}
                            {{ comment_form|crispy }}
                            <button type="submit" class="btn btn-primary mt-3">{% trans "Send" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock content %}