{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}{{ signup }}{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <form action='' method='POST'>
                {% csrf_token %}
                <h1 class="text-center">{{signup}}</h1>
                {{ form|crispy }}
                <button class='btn btn-success mt-3' type='submit'>{{ signup }}</button>
            </form>
       </div>
    </div>
{% endblock content %}